profiles {
    conda {
        includeConfig './conf/conda.config'
    }
}


params {
    skip_vep_annotation = false
    
    sif_dir = '$SCRATCH'                    // consider run locally outside of slurm

    process.debug = true                    // show prints (not real time: after it's ran)

    output_dir = "output"                   // default in python mode 

    // Allo-count parameters
    donor         = null
    recipient     = null
    run_name      = null
    orientation   = null
    imputation    = null
    optional_args = ""

    // Allo-affinity parameters
    run_name      = null
	ensembl_path  = null
	hla_typing    = null
	optional_args = ""
    
}


singularity {
    enabled    = true
    autoMounts = true
}