params {
    // General parameters
    mode = "pair"
    output_dir = "output"                   // default in python mode 
    process.debug = true                    // show prints (not real time: after it's ran)
    

    // VEP parameters
    skip_vep_annotation = false
    vep_version = "release_113.4"
    vep_cache = "/cache"


    // Allo-count parameters
    donor           = null
    recipient       = null
    multi_vcf       = null
    pairs           = null
    run_name        = null
    orientation     = null
    imputation      = null
    frameshift      = false
    frameshift_plugin_path = null
    allo_count_opts = ""


    // Allo-affinity parameters
    run_name           = null
	ensembl_path       = null
	hla_typing         = null
	allo_affinity_opts = ""
}


profiles {
    singularity {
        singularity.enabled    = true
        docker.enabled         = false
        singularity.runOptions = '--bind $SCRATCH/cache/vep:/cache'
        singularity.cacheDir   = "$SCRATCH/cache/singularity"
    }

    slurm {
        singularity.enabled = true
        docker.enabled      = false
        includeConfig './conf/slurm.config'
    }

    local {
        docker.enabled      = true
        singularity.enabled = false
    }

    docker {
        docker.enabled      = true
        singularity.enabled = false
        docker.runOptions   = '-v $HOME/.vep:/cache'
    }

    conda {
        includeConfig './conf/conda.config'
    }
}
