conda{
    cacheDir = "$projectDir/conda-cache-nextflow" // specify the localization \
                                                  // of the conda env creation
    createTimeout = "1 h"
    enabled = 'true'
}

process {
    withLabel:allopipe{ conda = "$projectDir/recipes/conda/allopipe.yml"}
}
